#content {margin: 0px auto;}
body {background-image: url(img/bg.png); font-size: 100%; line-height: 25px;
    font-size: 14px; font-family: Arial, sans-serif; margin: 0}
h1 {font-size: 60px; line-height: 60px; font-family: georgia, Arial, serif;
    margin: 0 0 15px 0; font-weight: normal;}
h2 {clear: left;}
h3 {font-style: italic;}
pre {background-color: white; font-weight: bold; padding: 10px;
    margin: 0px 0 25px 0 !important; font-size: 14px; line-height: 18px;
    width: auto !important; overflow-x: auto; overflow-y: auto;}
code {background-color: #EEE; color: black; font-weight: bold; padding: 0 2px 0 2px;
    white-space: nowrap;}
ol {list-style-type: decimal; font-family: arial,serif; font-size: 24px;
    padding-left: 25px; margin: 0px; color: #408156; margin-bottom: 25px;}
ol > li > a:hover {color: #BD2A33;}
ol > li > a {text-decoration: none; color: #555; display: block;
    border-bottom: 1px solid #DDD;}
ul {list-style-type: disc; margin: 25px 25px;}
li > ul > li {list-style-type: none;}
li > ul > li > a:hover {color: #BD2A33;}
li > ul > li > a {font-size: 16px; color: black; text-decoration: underline;}
.hs-keyglyph, .hs-layout {color: #5793C0;}
.hs-keyword {color: #62B121;}
.hs-str, .hs-chr {color: #770;}
.hs-varid, .hs-conop, .hs-cpp, .hs-sel, .hs-conid, .hs-varop {color: black;}
.hs-comment, .hs-varop {color: #5793C0;}
.hs-num {color: #B2453A;}
.hs-definition {color: #777;}
.hs-keyword {color: #62B121;}
img.left {float: left; margin:10px;}
img.right {float: right; margin:10px; clear: right;}
img.center {margin: 10px auto 25px auto; display: block;}
.prev-toc-next {width: 100%; display: table;}
.prev-toc-next ul { display: table-row; list-style: none;
    list-style-type: disc; margin: 25px 25px; }
.prev-toc-next ul li {display: table-cell; width: 33%;}
.prevlink {padding-left: 20px; background-image: url(img/prv.png);
    background-position: 0px 3px; background-repeat: no-repeat;}
.nextlink {padding-right: 20px; background-image: url(img/nxt.png);
    background-position: top right; background-repeat: no-repeat;}
.bgwrapper {margin-top: 50px; margin-bottom: 50px;
    background-color: white; padding: 25px 0 50px 0;}
.hintbox{padding: 10px; background-color: #FFC; margin-bottom: 25px;
    background-image: url(img/note.jpg);}
.law {background-color: #9DC; color: black; white-space: nowrap;
    font-family: Consolas, "Courier New", monospace; font-size: 16px;
    padding: 0px 3px;}
